* {
  lightbg : #141a1b;
  background : #141a1b;
  lightfg : #f5c2e7;
  foreground : #eeeeee;
  font : "Roboto 11";
}
listview {
  lines : 10;
  columns : 1;
}
window {
  width : 25em;
// border-color: #16a085;
}

